<div class="center hero-unit">
  <%= link_to image_tag("sherbal_logo.png", alt: "SherBal", height: "80px"), root_path %>

  <h1>Welcome to SherBAL</h1>

  <h2>
    What awesome links have you found today?
  </h2>

  <% if current_user.present? %>
    <%= link_to "Share a link!",  new_link_path, class: "btn btn-large btn-primary" %>
  <% else %>
    <%= link_to "Sign up Now!",   new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<div class="custom_alert">
  <%= notice %>
  <%= alert %>
</div>

<div class="links_list">
  <ul class="unstyled">
    <% @links.each do |link| %>
      <li class="links_display">
          <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
            <em class="cant_vote_again">*</em>
          <% else %>
            <%= button_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), class: "upvote" %>
          <% end %>
          <%= link_to link.title, link.url %>
      </li>
      <li class="traffic_data">
          <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %> votes | 
          <%= link_to "#{link.comments.count} comments", link %>
      <li>
    <% end %>
  </ul>
</div>

<div class="pagination">
  <%= will_paginate @links %>
</div>