<h3>
	<%= @link.title %>
</h3>

<h3>
	<%= link_to @link.url, @link.url %>
</h3>

<p class="traffic_data">
  <%= @link.votes.where(:up => true).count - @link.votes.where(:up => false).count %> votes by 
  <%= User.find(@link.user_id).email %>
</p>

<h2 class="showLink comments">Comments:</h2>
<div>
	<% @link.comments.each do |comment| %>
		<p class="comment"><%= comment.message %></p>
		<p class="comment_time">posted <%= time_ago_in_words(comment.created_at) %> ago by <%= User.find(comment.user_id).email %></p>
	<% end %>
</div>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :message, placeholder: "Add a comment" %>
  </div>
  <div class="field">
  	<%= f.hidden_field :link_id, value: @link.id %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
